{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="grid-container">

    {% for image in images %}

        <div class="grid-item">
            <div class="second">
                <img src="{{image.image.url}}" class="grid-image">
                {% if image.discount > 0 %}
                    <div class="ribbon onSale">{{image.discount_view}} off</div>
                {% endif %}

                {% if image.count == 0 %}
                    <div class="ribbon soldOut">Sold Out</div>
                {% endif %}
            </div>
            <div>
            <h3>{{image.name}}</h3>
            </div>
            <div>
                <p>{{image.desc}}</p>
            </div>
            <div>
                Price: ${{image.price_view}}
            </div>
        </div>

    {% endfor %}

</div>